*, *::after, *::before {
   box-sizing: border-box;
}

.modal {
   position: fixed; /* as the user scrolls down the modal will follow them */
   /* to center the modal */
   top: 50%; /* top and left 50% represent the 50% of the screen */
   left: 50%; /* the top left of the modal will be at the center of the screen */
   transform: translate(-50% -50%); /* -50% in the x and y direction to center the modal */
   /* 50% of the size of the container as oposed to the size of the screen */

   border: 1px solid black;
   border-radius: 10px;
   z-index: 10; /* so the modal stays above everything */
   background-color: white; /* so it will stand out from the overlay we put on the screen */
   width: 500px;
   max-width: 80%; /* so it won't be larger than 80% of the screen */
   
}

.modal-header {
   padding: 10px 15px;
   display: flex; /* so items will line side by side - "Example Modal" and the "X" */
   justify-content: space-between; /* space out content */
   align-items: center; 
   border-bottom: 1px solid black;
}

.modal-header .title {
   font-size: 1.25rem;
   font-weight: bold;
}

.modal-header .close-button {
   cursor: pointer; /* the cursor changes so ppl know they can click on it */
   border: none; /* remove the border */
   outline: none; /* remove the outline */
   background: none;
   font-size: 1.25rem;
   font-weight: bold; 
}

.modal-body {
   padding: 10px 15px;
}























